.intro__list {
    list-style: none;
    max-width: 690px;
    height: auto;
    margin-top: 33px;
    margin-bottom: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
}

@media screen and (min-width: 310px) and (max-width: 700px) {
    .intro__list {
        margin-top: 34px;
        margin-bottom: 0;
    }
}