.footer__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 1.06;
    margin-right: 18px;
    
}

.footer__link:hover {
    transition: color 4s linear;
    opacity: 0.8;
}

@media screen and (max-width: 700px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;  
    }
}