.lead__title {
max-width: 720px;
min-height: 88px;
font-weight: 900;
font-size: 96px;
line-height: 1.04;
text-align: center;
color: #FFFFFF;
align-self: center;
margin: 0 auto 32px;
}

@media screen and (min-width: 1035px) and (max-width: 1291px) {
    .lead__title {
        font-size: 96px;
        line-height: 1.04;
        max-width: 720px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1034px) {
    .lead__title {
        font-size: 96px;
        line-height: 1.04;
        max-width: 720px;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .lead__title {
        font-size: 96px;
        line-height: 1.04;
        max-width: 720px;
    }
}

@media screen and (min-width: 310px) and (max-width: 700px) {
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
        max-width: 288px;
        margin: 0 auto 16px;
    }
}


         
      