.place__website_link {
    text-decoration-style: solid;
    color: white;
    font-size: 18px;
    line-height: 1.2;
    grid-area: website;
    max-width: 456px;
    height: auto;
    margin-top: 12px;
    margin-bottom: 0;
}

.place__website_link:hover {
    translate: color 4s linear;
    opacity: 0.8;
}