.place {
    font-family: 'Inter', Arial, sans-serif;
    max-width: 984px;
    height: auto;
    margin: 0 auto 80px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 901px) and (max-width: 1034px) {
    .place {
        gap: 32px;
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .place {
        gap: 28px;
        margin-bottom: 73px;
    }
}

@media screen and (min-width: 310px) and (max-width: 700px) {
    .place {
        gap: 32px;
        margin-bottom: 50px;
    }
    