.intro__title {
    max-width: 690px;
    height: auto;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.1;
    margin: 0;
}

@media screen and (min-width: 1035px) and (max-width: 1291px) {
    .intro__title {
        font-size: 54px;
        line-height: 1.07;
        font-weight: 900;
        max-width: 720px;
    }
}    

@media screen and (min-width: 901px) and (max-width: 1034px) {
    .intro__title {
        font-size: 54px;
        line-height: 1.07;
        font-weight: 900;
        max-width: 720px;
    }
}    

@media screen and (min-width: 701px) and (max-width: 900px) {
    .intro__title {
        font-size: 54px;
        line-height: 1.07;
        font-weight: 900;
        max-width: 720px;
    }
}

@media screen and (min-width: 310px) and (max-width: 700px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09;
        font-weight: 900;
        max-width: 288px;
    }
}